:root{
    --first-bg-color:rgb(27, 114, 232);
    --second-bg-color:rgb(5, 30, 52);
    --search-color:rgb(229, 229, 229);
    --contrast-color:rgb(255, 143, 0);

}

.debug{
    border:1px solid none;
}

.wrapper{
    width: 100vw;
    height: 100vh;
}

img{
    display: block;
    width: 100%;
}

#navigation{
    width: 100vw;
}

header{
    height: 100px;
    width: 100%;
}

.logo{
    min-width: 60px;
}

.cube{
    width: 25px;
    height: 25px;
    text-align: center;
}

.text-contrast{
    color: var(--contrast-color);
}

main{
    width: 100%;
    height: calc(100vh - 100px);
}

#small-side-bar{
    background-color: var(--second-bg-color);
    background-image: url(../img/sidebar-bg.png);
    width: 70px;
    height: 100%;
}

#small-side-bar a{
    font-size: 1.5em;
}

#main-content{
    width: calc(100vw - 70px);
    height: calc(100vh - 100px);
}

#main-nav{
    display: block;
    background-color: var(--first-bg-color);
    width: calc(100vw - 70px);

}

.my-text-bg-primary{
    background-color: rgb(22, 91, 186);
}